blog_app_django/venv
blog_app_django/blog_main/db.sqlite3
blog_app_django/blog_main/blogpost/__pycache__
blog_app_django/blog_main/blogpost/migrations
blog_app_django/blog_main/blog_main/__pycache__
blog_app_mern/testing/venv
blog_app_flask/venv
blog_app_mern/api/node_modules
blog_app_mern/client/node_modules
blog_app_flask/migrations