{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% load static%}
<!-- Modal -->
<div class="modal fade" id="addBlogModal" tabindex="-1" aria-labelledby="addBlogModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBlogModalLabel">Add New Blog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}</label>
                        <input type="text" class="form-control{% if form.title.errors %} is-invalid{% endif %}"
                            id="{{ form.title.id_for_label }}" name="{{ form.title.name }}" placeholder="Enter title"
                            value="{{ form.title.value|default_if_none:'' }}">
                        {% for error in form.title.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.content.id_for_label }}" class="form-label">{{ form.content.label }}</label>
                        <textarea class="form-control{% if form.content.errors %} is-invalid{% endif %}"
                            id="{{ form.content.id_for_label }}" name="{{ form.content.name }}" rows="3"
                            placeholder="Share your thoughts here">{{ form.content.value|default_if_none:'' }}</textarea>
                        {% for error in form.content.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="blogImage" class="form-label">Upload Image</label>
                        <input type="file" class="form-control" name="image" id="blogImage" accept="image/*">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Blog</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
</div>
<div class="position-relative">
    <!-- Button trigger modal -->
    <div class="container mt-1">
        <div class="d-flex justify-content-center mt-1 mb-1">
            <button type="button" id="addblogbutton" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#addBlogModal">
                Add Blog
            </button>
        </div>
    </div>

    <div style="padding-top: 15px; padding-left: 20px; padding-right: 20px; padding-bottom: 20px;">
        <div class="container">
            <div class="row" >
                {% for post in posts %}
                <div class="col-12 mb-4" id="index-card">
                    <div class="card shadow-lg d-flex flex-column" style="height: 100%;">
                        <div class="row g-0 flex-grow-1">
                            <div class="col-md-3">
                                {% if post.image %}
                                    <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="Thumbnail" style="height: 100%; object-fit: cover;">
                                {% else %}
                                    <img src="{% static 'default/path/to/default-image.jpg' %}" class="img-fluid rounded-start" alt="No Image Available" style="height: 100%; object-fit: cover;">
                                {% endif %}
                            </div>
                
                            <div class="col-md-9 d-flex flex-column">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{% url 'post-details' post.id %}">{{ post.title }}</a>
                                    </h5>
                                    <p class="card-text">{{ post.content|truncatechars:333 }}</p>
                                </div>
                                <div class="mt-auto"> 
                                    
                                    <div class="card-footer text-muted"
                                        style="background-color: #c6cee1; color: white;">
                                        Posted on <span class="date">{{ post.date_created }}</span> by <span
                                            class="author">{{ post.author }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>



    {% endblock %}

    {% block menu %}
    {% endblock %}