{% extends 'base.html' %}
{% block title %}Post Details{% endblock %}
{% block content %}
<div class="pt-24 relative">
    <div class="flex justify-center">
        <div class="w-full md:w-9/12 lg:w-6/12">
            <div class="bg-white shadow-lg rounded-lg">
                <div class="px-6 py-4 border-b border-gray-300">
                    <h4 class="text-xl font-semibold text-gray-800">Edit Post</h4>
                </div>
                <div class="p-6">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <input type="hidden" name="_method" value="PUT">
                        <div class="mb-6">
                            <label for="{{ form.title.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ form.title.label }}</label>
                            <input type="text" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50{{ ' border-red-500 ring-2 ring-red-500 ring-opacity-50' if form.title.errors else '' }}"
                                   id="{{ form.title.id_for_label }}" name="{{ form.title.name }}" placeholder="Enter title"
                                   value="{{ form.title.data|default('') }}">
                            {% for error in form.title.errors %}
                                <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                            {% endfor %}
                        </div>

                        <div class="mb-6">
                            <label for="{{ form.content.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ form.content.label }}</label>
                            <textarea class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50{{ ' border-red-500 ring-2 ring-red-500 ring-opacity-50' if form.content.errors else '' }}"
                                      id="{{ form.content.id_for_label }}" name="{{ form.content.name }}" rows="9"
                                      placeholder="Share your thoughts here">{{ form.content.data|default('') }}</textarea>
                            {% for error in form.content.errors %}
                                <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                            {% endfor %}
                        </div>

                        <div class="flex justify-end">
                            <button type="submit" class="px-6 py-2 bg-blue-600 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg">Update Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block menu %}
{% endblock %}
