{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}
{% block content %}
{% load static%}
<div style="padding-top: 50px; padding-left: 20px; padding-right: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
            <!-- Image Column -->
            <div class="col-md-6 justify-content-center align-items-center d-flex">
                <img src="{% static 'blog-icon.png' %}" alt="icon" class="img-fluid" style="max-width: 80%; height: auto;">
            </div>
            <div class="col-md-2 justify-content-center align-items-center d-flex">
                
            </div>
            <!-- Form Column -->
            <div class="col-md-4 justify-content-center">
                <div class="card shadow-lg">
                    <h5 class="card-header text-center" style="background-color: #8197b4; color: white;">Login</h5>
                    <div class="card-body py-4">
                        <form method="POST" class="needs-validation" novalidate>
                            {% csrf_token %}
                            {% load widget_tweaks %}

                            {% for field in form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {% render_field field class="form-control" %}
                                {% for error in field.errors %}
                                <div class="invalid-feedback" style="display: block;">
                                    {{ error }}
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center py-3">
                        Doesn't have an account? <a href="{% url 'users-sign-up' %}" class="btn btn-link px-0">Register</a>
                        <div><a href="#" class="btn btn-link px-0">Forget Password</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
