{% extends 'base.html' %}
{% block title %}Logged Out{% endblock %}

{% block extra_head %}
<meta http-equiv="refresh" content="5;url={% url 'users-login' %}" />
{% endblock %}

{% block content %}
<div style="padding-top: 160px; padding-left: 20px; padding-right: 20px; padding-bottom: 5px;">
    <div class="container cover">
        <div class="row justify-content-center" class="column justify-content-center">
            <div class="col-md-4 justify-content-center">
                <div class="card shadow-lg">
                    <h5 class="card-header text-center"
                        style="background-color: #8197b4; color: white; margin-bottom: 0;">Logged Out</h5>
                    <div class="card-body py-1">
                        <div class="alert alert-success">
                            You have been logged out successfully.
                        </div>
                    </div>
                    <div class="card-footer text-muted text-center py-2">
                        Redirecting to login page in 5 seconds...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}